.outline-flow {

	// Version 1: Progressive padding
	&-v1 {
		$indent-values: 0px, 10px, 20px, 30px, 40px, 50px; // Indent values for h1 through h6

		@for $i from 1 through length($indent-values) {
			$level: $i;
			$indent: nth($indent-values, $i);

			// Apply styles to each header level
			h#{$level} {
				padding-left: $indent;

				// Apply the same padding to all following elements until a higher level header is encountered
				& ~ * {
					padding-left: $indent;
				}

				// Reset padding for elements following headers of this or a higher level
				@for $j from 1 through $level {
					& ~ h#{$j} {
						padding-left: nth($indent-values, $j);

					// Reset subsequent elements after the encountered header
						& ~ * {
							padding-left: nth($indent-values, $j);
						}
				  }
			  }
	    }
		}
	}
}