// Extended variables as add-ons

$header-heading-color: white;
$header-bg-color: rgba(0, 0, 0, 0.75);
$header-bg-color-secondary: #FFF;

$section-headings-color: black;
$body-text-color: black !default;
$body-link-color: #661ec4 !default;
$blockquote-text-color: #999 !default;

$border-color: #999 !default;
$table-border-color: white !default;
$hr-border-color: #999 !default;

$code-text-color: black;